<services>
  <hosts>
    <host name="article-service-host" url="http://localhost:55174/article-service" />
  </hosts>

  <resources>
    <resource name="get-articles-by-page" host="article-service-host" url="get-articles-by-page" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="get-article-by-id" host="article-service-host" url="get-article-by-id" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
    <resource name="operate-article" host="article-service-host" url="operate-article" method="POST">
      <contentType>application/json</contentType>
      <accept>application/json</accept>
    </resource>
  </resources>

</services>