<?xml version="1.0" encoding="utf-8"?>
<objects>
  <object name="apple1" type="Petecat.Test.IoC.AppleClass, Petecat.Test" singleton="true">
    <args>
      <arg name="bananaClass">
        <object type="Petecat.Test.IoC.BananaClass, Petecat.Test">
          <args>
            <arg name="name">Banana</arg>
          </args>
        </object>
      </arg>
      <arg name="welcome">hello, World!</arg>
    </args>
  </object>

  <object name="apple2" type="Petecat.Test.IoC.AppleClass, Petecat.Test" singleton="true">
    <args>
      <arg name="bananaClass">
        <object type="Petecat.Test.IoC.BananaClass, Petecat.Test">
          <args>
            <arg name="name">Banana</arg>
          </args>
        </object>
      </arg>
    </args>
    <props>
      <prop name="Welcome">hello, World!</prop>
    </props>
  </object>

  <object name="apple3" type="Petecat.Test.IoC.AppleClass, Petecat.Test" singleton="true">
    <props>
      <prop name="BananaClass">
        <object type="Petecat.Test.IoC.BananaClass, Petecat.Test">
          <args>
            <arg name="name">Banana</arg>
          </args>
        </object>
      </prop>
      <prop name="Welcome">hello, World!</prop>
    </props>
  </object>

  <object name="apple4" type="Petecat.Test.IoC.AppleClass, Petecat.Test" singleton="true">
    <args>
      <arg name="children">
        <list>
          <li>first one.</li>
          <li>second one.</li>
        </list>
      </arg>
    </args>
  </object>

  <object name="apple5" type="Petecat.Test.IoC.AppleClass, Petecat.Test" singleton="true">
    <props>
      <prop name="Children">
        <list>
          <li>first one.</li>
          <li>second one.</li>
        </list>
      </prop>
    </props>
  </object>
</objects>